body {
  margin: 20px;
  font-family: 'Zilla Slab', serif;;
  color: #121212;
  background-color: #F2F2F2;
}

h1, h2, h3, h4, h5, h6, .header, .title {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #080808;
}

a {
  color: blue;
}


.menu {
  display: inline-block;
}

.menu a.active {
  color: inherit;
  text-decoration: none;
}

.main {
  margin: 20px 15px;
}

.article {
  margin: 15px 0px;
}

.tags .tag {
  margin: 0px 1px;
}

.content {
  text-align: justify;
}
