{{ define "main" }}
  <h1>{{ .Title | title }}</h1>
  <div class="main">
    <div class="article">
      {{ with .Params.series }}Part of series <a class="series" href="{{ "/series/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> | {{ end }}
      <time>{{ with .Date }}{{ .Format "2006-01-02" }}{{ end }}</time>
      <div class="content">
        {{ .Content }}
      </div>

      {{ if .Params.subList }}
        <div class="sub-list">
          {{ $items := where .Site.Pages "Params.categories" .Params.subList }}
          {{ range $items }}
              <div class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
              <div class="subtitle">{{ .Summary }}</div>
          {{ end }}
        </div>
      {{ end }}

      {{ with .Params.tags }}
      <div class="tags">
        Tags: {{ range . }}<a class="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> | {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
{{ end }}
